* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}


/*header*/

.seo {
    padding-top: 15px;
    margin-right: 20px;
    float: left;
    color: #ffffff;
    font-size: 48px;

}

.NavigationBar {
    background-color:  #2a607c;
    list-style-type: none;
    text-align: right;
     margin: 0;
    padding: 0;

}

.NavigationBar Li {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding: 20px;
}


a {
    color: #ffffff;
    text-decoration: none;
}


/*background image*/

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/*Main body section*/

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.services-format {
   margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


.services-format img {
    max-height: 200px;
}

h2,
h3,
h4 {

margin-bottom: 20px;
font-size: 36px;
}



p {
    font-size: 16px;
}


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


/*Main body aside*/


.container {

    Display: block;
    Position: absolute;
    Right: 20px;
    Top: 890px;
    background-color: #2589bd;
    width: 20%;
    height: 940px;
    
}


.container img {
    display: block;
    margin: 10px auto;
    max-width: 150px;

}

h5,
h6,
h7 {

    display: inline
    font-size: 36;
    
    text-align: center;
}


.benefits {
   margin: auto;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}





/*footer*/

.footer {
    background-color:  #2a607c;
    color:#ffffff;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h8 {
    font-size: 20px;

}
